/.idea/
/.project
/target
/.settings
.classpath
.project
/logs
/bin
target/**
.settings
.target
.git
**/target/
buid
*.psd
**/deploy/*.log
**/webapp/public/*
*.iml
.externalToolBuilders/
.metadata/**
.DS_Store
.idea/
builds/
*.jar
k8s.yaml